body {
    text-align: center;
    font-family: 'Mochiy Pop P One', sans-serif;
  }
  
  .frontpage{
    background: url(https://i.imgur.com/Ryjw0dE.jpg);
    background-size: cover;
    background-position: center;
    color: whitesmoke
  }
  
  .game{
    background: url(https://i.imgur.com/L3rsL62.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .choice#charmander > img{
    width: 200px;
    height: 100px;
  }
  
  .choice#squirtle > img{
    width: 100px;
    
  }
  
  .choice#bulbasaur > img{
    width: 130px;
    height: 125px;
  }
  
  
  
  .scoreboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(221, 213, 213, 0.40);
    border: 2px solid darkblue;
    width: 450px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  
  .scoreboard_name, .scoreboard_score {
    padding: 30px;
    text-align: center;
  }
  
  .scoreboard_name {
    font-weight: bold;
    border-bottom: 5px solid #ddd;
  }
  
  .scoreboard_name--one{
    color:crimson;
    font-size: 1em;
  
  }
  
  .scoreboard_name--two{
    color:crimson;
    font-size: 1em;
  
  }
  
  .scoreboard_score {
    font-size: 1.5em;
  }